@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String, request: RequestHeader)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play") {

    <h1>Illustration of the problem</h1>

    <button type="button" onclick="badWebsocket()">Request bad WebSocket</button>

    <button type="button" onclick="goodWebsocket()">Request good WebSocket</button>

    <h1>Testing a potential fix</h1>

    <button type="button" onclick="fixedBadWebsocket()">Request fixed bad WebSocket</button>

    <button type="button" onclick="fixedGoodWebsocket()">Request fixed good WebSocket</button>

    <script type="application/javascript">

            function badWebsocket() {

                var url = '@routes.HomeController.webSocketWithActorBad().webSocketURL()(request)';

                var connection = new WebSocket(url);

                connection.onopen = function () {
                    console.log("Connected!");
                };

                connection.onerror = function (error) {
                    console.log('WebSocket Error ' + error);
                };

                connection.onclose = function (error) {
                    console.log('WebSocket Closed');

                };

                connection.onmessage = function (e) {
                    console.log('Server: ' + e.data);
                };
            }

            function goodWebsocket() {

                var url = '@routes.HomeController.webSocketWithActorGood().webSocketURL()(request)';

                var connection = new WebSocket(url);

                connection.onopen = function () {
                    console.log("Connected!");
                };

                connection.onerror = function (error) {
                    console.log('WebSocket Error ' + error);
                };

                connection.onclose = function (error) {
                    console.log('WebSocket Closed');

                };

                connection.onmessage = function (e) {
                    console.log('Server: ' + e.data);
                };
            }

            function fixedBadWebsocket() {

                var url = '@routes.HomeController.fixedWebSocketWithActorBad().webSocketURL()(request)';

                var connection = new WebSocket(url);

                connection.onopen = function () {
                    console.log("Connected!");
                };

                connection.onerror = function (error) {
                    console.log('WebSocket Error ' + error);
                };

                connection.onclose = function (error) {
                    console.log('WebSocket Closed');

                };

                connection.onmessage = function (e) {
                    console.log('Server: ' + e.data);
                };
            }

            function fixedGoodWebsocket() {

                var url = '@routes.HomeController.fixedWebSocketWithActorGood().webSocketURL()(request)';

                var connection = new WebSocket(url);

                connection.onopen = function () {
                    console.log("Connected!");
                };

                connection.onerror = function (error) {
                    console.log('WebSocket Error ' + error);
                };

                connection.onclose = function (error) {
                    console.log('WebSocket Closed');

                };

                connection.onmessage = function (e) {
                    console.log('Server: ' + e.data);
                };
            }

    </script>


}
